// Is this working?
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	background-color: rgb(252, 247, 247);
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

// font styles
h1, h2, h3, h4, h5 {
	font-family: 'Bangers', cursive;
	letter-spacing: 1px;
	margin-bottom: 15px;
}
// font sizes
@xLargeFontSize: 2rem;
@largeFontSize: 1.5rem;
@mediumFontSize: 1rem;
@smallFontSize: .5rem;

// Layout and colors
@marginDefault: 0 auto;
@mainColor: #b3aeaf;
@secondaryColor: #ffffff;
@borderStyle: 2px solid black;

// breakpoints
@mobileBreakpoint: 500px;
@tabletBreakpoint: 750px;

.flex-style(@justifyContent, @alignItem) {
    display: flex;
    align-items: @alignItem;
    justify-content: @justifyContent;
  }

  .container {
	  margin: @marginDefault;
	  width: 60rem;
  }

  header {
    .flex-style(flex-end, center);
    padding: 10px;
    z-index: 1;
}
nav {
	.flex-style(space-between, flex-end);
	a {
		padding: 15px 15px 15px 0;
		margin: 2rem 0 2rem 3rem;
		text-decoration: none;
		color: #ada8a8;
		&:hover {
			color: #000;
			border-bottom: @borderStyle;
		}
	}
}

.main-content {
	.flex-style(center, center);
	flex-direction: column;
	margin: @marginDefault;
	height: 40rem;
	background-color: @mainColor;
	border-radius: 2%;
	.image-section {
		// .flex-style(center, center);
		display: flex;
		.main-text {
			font-size: 85px;
			text-align: center;
			width: 50%;
		}
		.image-fit {
			border: @borderStyle;
			width: 15rem;
			height: 15rem;
			img {
				width: 100%;
				height: 100%;
			}
		}
	}
	
}
.into-text {
	padding: 10rem;
	margin: @marginDefault;
	border-bottom: @borderStyle;
	h1 {
		font-size: @largeFontSize;
	}
	p {
		font-size: @smallFontSize;
	}
}

/* cards */

.card-section {
	.flex-style(space-between, center);
	flex-direction: column;
	margin: 10px;
	padding: 10px;
}



.card-row {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	margin: 10px;
	width: 104%;
	.card {
		border: 1px solid black;
		width: 48%;
		margin-top: 10px;
		padding: 10px;
		background-color: rgb(238, 237, 237);
		h2 {
			font-size: @mediumFontSize;
		}
	}
}

.card button {
	border-radius: 8%;
	font-size: 10px;
}

.about-services {
	display: flex;
	justify-content: space-between;
	margin: 25px;
	width: 96%
}

.about-services p {
	width: 85%
}




footer {
	padding: 10px;
	background-color: @mainColor;
	.last-text {
		text-align: center;
		small {
			color: @secondaryColor;
		}
	}
}


